<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>@ViewBag.Title-@(ConfigManager.SysConfiguration.SiteName)</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/css/framework-font.css" rel="stylesheet" />
    <script src="~/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.js"></script>
    <link href="~/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/dialog/dialog.js"></script>
    <script src="~/js/cookie/jquery.cookie.js"></script>
    <link href="~/css/framework-theme.css" rel="stylesheet" />
    <script src="~/js/jqgrid/jqgrid.min.js"></script>
    <link href="~/js/jqgrid/jqgrid.css" rel="stylesheet" />
    <script src="~/js/jqgrid/grid.locale-cn.js"></script>
    <script src="~/js/framework-ui.js"></script>
    <link href="~/css/framework-ui.css" rel="stylesheet" />
    <script src="~/js/framework-clientdata.js"></script>
    <script src="~/js/datepicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var currUrl = '@(Context.Request.Path)';
        if (currUrl.indexOf("?") > 0) {
            currUrl = currUrl.split("?")[0];
        }

        function gridList(requestUrl, height, multiselect, columnModel, onSortColCallBack, loadCompleteCallBack) {
            var $gridList = $("#gridList");
            $gridList.dataGrid({
                url: requestUrl,
                height: height,
                rowNum:@CoreContextProvider.PageSize,
                colModel: columnModel,
                multiselect: multiselect,
                onPaging: function (pageBtn) {
                    var page = $gridList.getGridParam('page');//获取返回的当前页
                    var total = $gridList.getGridParam('lastpage');//获取总页数

                    if (total == 0) {
                        $.modalMsg("没有查询到数据");
                        return;
                    }

                    if (pageBtn === "next") {
                        page = page + 1;
                        if (page > total) {
                            page = total;
                        }
                    }
                    else if (pageBtn === "prev") {
                        page = page - 1;
                        if (page <= 0) {
                            page = 1;
                        }
                    }
                    else if (pageBtn === "user") {
                        page = parseInt($("#input_gridPager input").val());
                    }
                    else if (pageBtn === "last") {
                        page = total;
                    }
                    else if (pageBtn === "first") {
                        page = 1;
                    }
                    initJqgrid(page);
                },
                loadComplete: loadCompleteCallBack,
                onSortCol: onSortColCallBack
                ,pager: "#gridPager",
                viewrecords: true
            });
            $("#searchform").keydown(function (e) {
                if (e.keyCode == 13) {
                    $("#btn_search").click(); //处理事件
                    return false;
                }
            });
            $("#btn_search").click(function () {
                initJqgrid(1);
            });

            function initJqgrid(page) {
                $gridList.jqGrid('setGridParam', {
                    postData: "page=" + page + "&" + $("#searchform").serialize(),
                }).trigger('reloadGrid');
            }

        }
    </script>
    @RenderSection("ScriptsHead", required: false)
</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/img/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;">
                <a href="/SystemManage" id="logo" class="navbar-brand">@(ConfigManager.SysConfiguration.SiteName)后台管理</a>
                <div class="clearfix">
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <img src="~/img/samples/scarlet-159.png" alt="" />
                                    <span class="hidden-xs">@CoreContextProvider.CurrentSysUser.Account</span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="menuItem" data-id="userInfo" href="/SystemManage/Manager/Info?keyValue=@CoreContextProvider.CurrentSysUser.UserId"><i class="fa fa-user"></i>个人信息</a></li>
                                    @*<li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>*@
                                    @*<li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                                        <li><a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a></li>*@
                                    <li class="divider"></li>
                                    <li><a href="~/SystemManage/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked"></ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="content-wrapper">
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow:auto;">
                        <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;">
                            <input type="hidden" id="moduleId" value=""/>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loadingPage" style="display: none;">
        <div class="loading-shade"></div>
        <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
    </div>
    <script src="~/js/index.js"></script>
    @*<script src="~/js/indextab.js"></script>*@
    <script src="~/js/loading/pace.min.js"></script>
    @Html.AntiForgeryToken()
    @RenderSection("Scripts", required: false)
</body>
</html>
